<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MiniTrello Web</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="~/Content/landing-page.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="~/Images/Mini.png"> </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MiniTrello Web</h1>
                        <h3>Beta V.1.0</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://minitrelloclweb.apphb.com/register" class="btn btn-default btn-lg"><span class="network-name">Register</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/pavel07/Proyecto_MiniTrello" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github Repo</span></a>
                            </li>
                            <li>
                                <a href="http://minitrelloclweb.apphb.com/login" class=" btn btn-default btn-lg"> <span class="network-name">Log</span><i class="fa fa-linkedin fa-fw"></i></a>
                            </li>
                        </ul>  
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        MiniTrello Web
                        <br>Proyecto Programacion IV
                    </h2>
                    <p class="lead">Proyecto elaborado en el periodo I, año 2014.<br>Recursos: MVC, RestSharp, Visual Studio 2013, c# y Angular.Js</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/Images/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Connect to:</h2>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.unitec.edu/" class="btn btn-default btn-lg"><span class="network-name">Unitec</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; MiniTrello | Web 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="~/Scripts/vendor/jquery-2.0.3.js"></script>
    <script src="~/Scripts/vendor/bootstrap.js"></script>

</body>

</html>

