
<div class="container" ng-app="app">
    <div class="row" style="margin-top:300px">

        <div class="col-md-12">
            <div class="alert alert-success-alt alert-dismissable">
                <img src="~/Images/load.gif">
            </div>
        </div>
    </div>
</div>
