<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=8ade560c-7c48-4302-9743-a2c3001f8f0b.sqlserver.sequelizer.com;Database=db8ade560c7c4843029743a2c3001f8f0b;User ID=bacqmpaenoehvdrj;Password=AXNHqjNZomMS4EAjCWjzQNU7ZohT7kEHrjm8h4GZuoxr7qqbgbVc6pPVdPRcc33c;"/>
</connectionStrings>