<connectionStrings>
  <add name="MiniTrello.Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MiniTrello;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniTrello.Remote" connectionString="Server=e558475c-a92b-4fd9-a076-a2dc006779e3.sqlserver.sequelizer.com;Database=dbe558475ca92b4fd9a076a2dc006779e3;User ID=kvmbvlcfkbqbpquj;Password=mU8euJhuh7UfauQ3QaBGu8Xgk6MWXnwCB7M5jAuXRh42P8mdwUuLmobm6Z2w6tD3;"/>
</connectionStrings>